<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="{{ "add_product" }}" method="post">
    <input type="text" name="product">
    <input type="text" name="price">
    <button type="submit">Valider</button>
</form>


</body>
</html>